.td-buttons form {
  display: inline-block;
}
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
nav {
    padding-right: 30px;
}

.bg-danger, .bg-info {
    padding: 15px;
}