{% extends "mybase.html" %}

{% block header %}
  <h1>{% block title %}My Files{% endblock %}</h1>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
<div class="col-12-xs">

    <form class="upload-form" action="{{ url_for('user_files.upload_file') }}"
          method="POST" enctype="multipart/form-data">
        <p>
            <input name="csrf_token" type="hidden" id="csrf" value="{{ csrf_token }}">
            <label for="file">Max size is {{ max_size }}</label>
            <input name="fileSize" type="hidden" id="fileSize" value="">
            <input type="file" id="file" name="file">
        </p>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <hr>

    <table class="table table-striped" id="mainTable">
    <tr id="0">
        <th>Filename</th>
        <th>Size</th>
        <th>Last Modified</th>
        <th></th>
    </tr>
    </table>
</div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}